.jumbotron {
        background: linear-gradient(90deg, #f12711, #f5af19);
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 200px;
        color: whitesmoke;
}

.form {
        margin-top: 20px;
}

.original_title {
        background: linear-gradient(90deg, #333333, #DD1818);
        font-size: 20px;
        font-weight: 400;
        color: whitesmoke;
        padding: 2px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
}

.summary_title {
        background: linear-gradient(90deg, #11998e, #38EF7D);
        font-size: 20px;
        font-weight: 400;
        padding: 2px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
}

.custom {
        display: flex;
        flex-direction: row;
}

.originalText {
        background: linear-gradient(90deg, #333333, #DD1818);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 30px;
        color: azure;
        border-radius: 50px;
}

.summaryText {
        background: linear-gradient(90deg, #11998e, #38EF7D);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 30px;
        margin-left: 20px;
        color: azure;
        border-radius: 50px;
}

.btn-primary {
        margin-bottom: 20px;
        transform: translateX(30vh);
}

.btn-primary1 {
        margin-top: 20px;
        background: #5DADE2;
}

.btn-success {
        transform: translateX(30vh);
}